# Binaries
*.o
*~
**/liblnf.la
**/lnf-slice.lo

**/Makefile
**/Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
**/.deps/
**/sample
stamp-h1
autoscan.log
config.guess
config.sub
configure.scan
ltmain.sh
m4/
include/lnf-types.h
libtool
**/.libs/
test-driver
tests/test-slice

tests/test-slice.log
tests/test-slice.trs
tests/test-suite.log
